<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <h5 class="recipe-book">RECIPE BOOK</h5>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
<!--        <li><a href="#" class="nav-link px-2 text-secondary">&nbsp;</a></li>-->
        <li><a href="#" class="nav-link px-2 text-white">Recipes</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Shopping List</a></li>
      </ul>

      <div class="text-end">
       <li class="dropdown">
       <a href="#" class="dropdown-toggle text-white" role="button">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/" class="text-white">Save Data</a></li>
          <li><a routerLink="/"  class="text-white">Fetch Data</a></li>

        </ul>
       </li>
      </div>
    </div>
  </div>
</header>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarToggle">-->
<!--    <a class="navbar-brand" href="#">RECIPE BOOK</a>-->
<!--    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#"> <span class="sr-only"> &nbsp;</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link enabled" href="#">Manage</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <div class="text-end">-->
<!--             <li class="dropdown">-->
<!--             <a href="#" class="dropdown-toggle text-white" role="button">Manage<span class="caret"></span></a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li><a routerLink="/" class="text-white">Save Data</a></li>-->
<!--                <li><a routerLink="/"  class="text-white">Fetch Data</a></li>-->

<!--              </ul>-->
<!--             </li>-->
<!--            </div>-->
<!--  </div>-->
<!--</nav>-->
