a.nav-link.px-2.text-secondary {
  margin: 0px 20px;
  display: inline-flex;
}
a.nav-link.px-2.text-white {
  margin: 0px 10px;
  display: inline-flex;
  text-align: center;
}

li.dropdown::marker {
  list-style-type: none !important;
}

li.dropdown {
  list-style-type: none !important;

}

a.dropdown-toggle.text-white {
  text-decoration: none !important;
  margin: 0px 20px;
}
h5.recipe-book{
  line-height: 0 !important;
  margin: 0px auto;

}
